@if $hb-background-img != "" {
    body {
        background: center / cover no-repeat url($hb-background-img);
        background-attachment: fixed;

        @include media-breakpoint-down(xxl) {
            background-image: url($hb-background-img-xxl);
        }

        @include media-breakpoint-down(xl) {
            background-image: url($hb-background-img-xl);
        }

        @include media-breakpoint-down(lg) {
            background-image: url($hb-background-img-lg);
        }

        @include media-breakpoint-down(md) {
            background-image: url($hb-background-img-md);
        }

        @include media-breakpoint-down(sm) {
            background-image: url($hb-background-img-sm);
        }
    }

    [data-bs-theme="dark"] {
        body {
            background-color: rgba(var(--#{$prefix}body-bg-rgb), .75);
            background-blend-mode: multiply;
        }
    }
}
